<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Supercluster Leaflet demo</title>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/collapse.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/transition.js') }}"></script>

        <!-- Date time picker -->
        <script src="{{ url_for('static', filename='bootstrap/js/moment.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datetimepicker.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-datetimepicker.min.css') }}" />

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script>
        <script src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='demo/cluster.css') }}" />
        <style>
            html, body, #map {
                height: 100%;
                margin: 0;
            }
            #menu {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1000;
                padding: 20px;
                width: 400px;
                background-color: rgba(250, 250, 250, 0.5);
                -webkit-border-bottom-left-radius: 12px;
                -moz-border-radius-bottomleft: 12px;
                border-bottom-left-radius: 12px;
            }
            .menu-button {
                width: 100%;
                text-align: left;
                padding-left: 1em;
            }
            .menu-item {
                margin: 10px 0;
            }
            .manu-container {
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>

        <div id="map"></div>
        <script src="{{ url_for('static', filename='demo/index.js') }}"></script>

        <div id="menu" class="container">

            <div class="row manu-container">
                <div class="col-lg-12">

                    <div class="input-group menu-item">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle menu-button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id = "countryButton">
                                <span class="caret" ></span> Country
                            </button>
                            <ul class="dropdown-menu pull-left" id="countryChooser">
                                <li><a href="#">Country</a></li>
                                <li><a href="#">TURKEY</a></li>
                                <li><a href="#">RUSSIA</a></li>
                                <li><a href="#">ARMENIA</a></li>
                                <li><a href="#">USA</a></li>
                                <li><a href="#">AZERBAIJAN</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->

                    <div class="input-group menu-item">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle menu-button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id = "regionButton">
                                <span class="caret"></span> Region
                            </button>
                            <ul class="dropdown-menu pull-left" id="regionChooser">
                                <li><a href="#">Region</a></li>
                                <li><a href="#">Tbilisi</a></li>
                                <li><a href="#">Adjara</a></li>
                                <li><a href="#">Kvemo Kartli</a></li>
                                <li><a href="#">Mtskheta - Mtianeti</a></li>
                                <li><a href="#">Samegelo - Zemo Svaneti</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->

                    <div class="input-group menu-item">
                        <div class="input-group-btn">
                            <div class='input-group date' id="from-date">
                                <span class="input-group-addon">
                                    <span class="glyphicon">From:</span>
                                </span>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="input-group menu-item">
                        <div class="input-group-btn">
                            <div class='input-group date' id="to-date">
                                <span class="input-group-addon">
                                    <span class="glyphicon">To:</span>
                                </span>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group menu-item">
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="0" checked>Cluster</label>
                            <label><input type="radio" name="optradio" value="1">Heat Map</label>
                        </div>
                    </div>

                    <div class="input-group menu-item">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" id="filterBtn">Filter</button>
                        </div>
                    </div>

                </div>
            </div><!-- /row -->
        </div>

        <script type="text/javascript">
            $(function () {
                from_date = $('#from-date');
                to_date = $('#to-date');
                from_date.datetimepicker();
                to_date.datetimepicker({
                    useCurrent: false //Important! See issue #1075
                });
                from_date.on("dp.change", function (e) {
                    $('#to-date').data("DateTimePicker").minDate(e.date);
                });
                to_date.on("dp.change", function (e) {
                    $('#from-date').data("DateTimePicker").maxDate(e.date);
                });
                $("input[name='optradio']").on('change', function () {
                    isHeatMap = $('input[name="optradio"]:checked').val() == "1";
                    markers = getMarkers();
                    update();
                });

                $(function(){

                    var countryChooser = $("#countryChooser");
                    countryChooser.find("li a").click(function(){
                        $("#countryButton").text($(this).text());

                    });

                });


                $(function(){

                    var countryChooser = $("#regionChooser");
                    countryChooser.find("li a").click(function(){
                        $("#regionButton").text($(this).text());

                    });

                });



                $("#filterBtn").on('click', function () {

                    var country = $("#countryButton").text();
                    var region = $("#regionButton").text();
                    country  = country.replace(/\s+/g,' ').trim();
                    region  = region.replace(/\s+/g,' ').trim();
                    var url = '?';

                    if (country != 'Country')
                    {
                        url += 'country=' + country;

                    }

                    if (region != 'Region')
                    {
                        if (url != '?'){
                            url += '&'
                        }
                        url += 'region=' + region;
                    }
                    updateFiltered(url)

                });


            });
        </script>
    </body>
</html>
